.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkout_Product_Image{
    padding-left:20px;
}
.checkout_Product_info {

}

.checkout_Product_info > button{
    background-color: #f0c14b;
    margin-top: 10px;
    border: 1px solid;
    border-color: #a88734, #9c7e31, #846a29;
    color: #111;

}